[submodule "pack/colors/start/gruvbox"]
	path = pack/colors/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/latex/start/vimtex"]
	path = pack/latex/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "pack/tpope/start/pack/tpope/start/fugitive"]
	path = pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
